* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

.audit-container > p {
  margin: 0;
  padding: 2px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-container {
  position: relative;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.form-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  padding: 20px;
  border: 1px solid black;
  top: 70px;
}

.close-container {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  border: none;
  background-color: initial;
}

.mistake {
  display: none;
  color: red;
}

#complaint {
  height: 100px;
  resize: none;
}

#submit {
  border: none;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  color: white;
  background-color: blueviolet;
  padding: 5px;
}

.help-container {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 640px;
  right: 0;
}

#help {
  border: none;
  width: 70px;
  margin-top: 5px;
  border-radius: 5px;
  color: white;
  background-color: blueviolet;
  padding: 5px;
}
