* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 200px;
  height: 200px;
}

.hidden {
  display: none;
}

#psw-error {
    color: red;
}

#result {
  background-color: gray;
  border: none;
  resize: none;
  color: white;
  height: 150px;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  border-radius: 5px;
  padding: 2px 5px;
}

.error {
  border-color: red;
}