/* #dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.dropdown-menu.active {
    display: block;
} */

/* #accordeon {
    position: relative;
}

.accordeon-content {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    display: none;
}

.accordeon-content.active {
    display: block;
} */

/* 20221123 */
/* 1. */
/*
Kad galėtume naudoti var(), elementas turi būti vaikas to elemento, kuriame apra6yti kintamieji
*/

/* body.light {
    --color: #000;
    --bgColor: #fff;
    background-color: #fff;
}

body.dark {
    --color: #fff;
    --bgColor: #000;
    background-color: #000;
}

p {
    color: var(--color);
    background-color: var(--bgColor);
} */